*
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
}
.wrapper {
    max-width: 31.25rem;
    width: 90%;
    margin: 3.125rem auto;
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    padding-left: calc(18 /16 * 1rem);;
    margin-bottom: calc(25 /16 * 1rem);
    border-radius: 30px;
}

.input-field {
    flex: 1; /* Take up remaining space */
    padding: 0.625rem;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
}

button {
    border: none;
    outline: none;
    color: #fff;
    background: #ff5945;
    padding: 1rem 3rem;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1rem;
}

ul li {
    list-style: none;
    font-size: 1.15rem;
    padding: 1.25rem 0.5rem 1.25rem 3.5rem;
    user-select: none;
    cursor: pointer;
    position: relative;

}

ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-41.5%);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: url(images/unchecked.svg) no-repeat center center;
}

.trash-icon {
    position: absolute;
    right: 20px;
    height: 40px;
    width: 40px;
    background: url(images/trash.svg) no-repeat center center;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    transform: .5s;
}

.trash-icon:hover {
    color: #ff5945;
}

ul li.checked {
    color: #888;
    text-decoration: line-through;   
}

ul li.checked::before {
    background: url(images/checked.svg) no-repeat center center;
}